-----------------------------------------------------------Basic Technique------------------------------------------------------

In [2]:
import pandas as pd

In [2]:
# read data  from CSV file into dataframe
df = pd.read_csv("loan_approval_dataset.csv") 

# if you are facing unicode- decode Error 
# Question_1 : Why this error...??
# Answer_1 : Encoading a formate that convert text to that computer can understand, comman encoding standard utf-8 and latin1, when pandas assume wrong encoding that thrwo errow.
# Question_2 : How to fix this..??
# Answer_2 : Specify the encoding like this --> df = pd.read_csv("loan_approval_dataset.csv" encoding="utf-8") or df = pd.read_csv("loan_approval_dataset.csv" , encoding="latin1")

In [3]:
# read data from EXCEL file into dataframe

# df = pd.read_excel("file_name.xlsx")

In [4]:
# read data from JSON file into dataframe

# df = pd.read_json("file_name.json")

In [5]:
#Have a look of your data set
print(df)

      loan_id   no_of_dependents      education  self_employed   income_annum  \
0           1                  2       Graduate             No        9600000
1           2                  0   Not Graduate            Yes        4100000
2           3                  3       Graduate             No        9100000
3           4                  3       Graduate             No        8200000
4           5                  5   Not Graduate            Yes        9800000
...       ...                ...            ...            ...            ...
4264     4265                  5       Graduate            Yes        1000000
4265     4266                  0   Not Graduate            Yes        3300000
4266     4267                  2   Not Graduate             No        6500000
4267     4268                  1   Not Graduate             No        4100000
4268     4269                  1       Graduate             No        9200000

       loan_amount   loan_term   cibil_score   residential_assets_value  \
0         29900000          12           778                    2400000
1         12200000           8           417                    2700000
2         29700000          20           506                    7100000
3         30700000           8           467                   18200000
4         24200000          20           382                   12400000
...            ...         ...           ...                        ...
4264       2300000          12           317                    2800000
4265      11300000          20           559                    4200000
4266      23900000          18           457                    1200000
4267      12800000           8           780                    8200000
4268      29700000          10           607                   17800000

       commercial_assets_value   luxury_assets_value   bank_asset_value  \
0                     17600000              22700000            8000000
1                      2200000               8800000            3300000
2                      4500000              33300000           12800000
3                      3300000              23300000            7900000
4                      8200000              29400000            5000000
...                        ...                   ...                ...
4264                    500000               3300000             800000
4265                   2900000              11000000            1900000
4266                  12400000              18100000            7300000
4267                    700000              14100000            5800000
4268                  11800000              35700000           12000000

      loan_status
0        Approved
1        Rejected
2        Rejected
3        Rejected
4        Rejected
...           ...
4264     Rejected
4265     Approved
4266     Rejected
4267     Approved
4268     Approved

[4269 rows x 13 columns]

In [6]:
# before anaylize the data, get a overviw of data using head(), tail()
# head(enter no of data that you want to see) - It show the selected row form head. 
# tail(enter no od data that you want to see) - It show the selected row from tail.

# By default head() and tail() give five rows from head and tail  

selected_data_from_head = df.head(4)
print(selected_data_from_head)

selected_data_from_tail = df.tail(6)
print(selected_data_from_tail)

   loan_id   no_of_dependents      education  self_employed   income_annum  \
0        1                  2       Graduate             No        9600000
1        2                  0   Not Graduate            Yes        4100000
2        3                  3       Graduate             No        9100000
3        4                  3       Graduate             No        8200000

    loan_amount   loan_term   cibil_score   residential_assets_value  \
0      29900000          12           778                    2400000
1      12200000           8           417                    2700000
2      29700000          20           506                    7100000
3      30700000           8           467                   18200000

    commercial_assets_value   luxury_assets_value   bank_asset_value  \
0                  17600000              22700000            8000000
1                   2200000               8800000            3300000
2                   4500000              33300000           12800000
3                   3300000              23300000            7900000

   loan_status
0     Approved
1     Rejected
2     Rejected
3     Rejected
      loan_id   no_of_dependents      education  self_employed   income_annum  \
4263     4264                  3       Graduate             No        5000000
4264     4265                  5       Graduate            Yes        1000000
4265     4266                  0   Not Graduate            Yes        3300000
4266     4267                  2   Not Graduate             No        6500000
4267     4268                  1   Not Graduate             No        4100000
4268     4269                  1       Graduate             No        9200000

       loan_amount   loan_term   cibil_score   residential_assets_value  \
4263      12700000          14           865                    4700000
4264       2300000          12           317                    2800000
4265      11300000          20           559                    4200000
4266      23900000          18           457                    1200000
4267      12800000           8           780                    8200000
4268      29700000          10           607                   17800000

       commercial_assets_value   luxury_assets_value   bank_asset_value  \
4263                   8100000              19500000            6300000
4264                    500000               3300000             800000
4265                   2900000              11000000            1900000
4266                  12400000              18100000            7300000
4267                    700000              14100000            5800000
4268                  11800000              35700000           12000000

      loan_status
4263     Approved
4264     Rejected
4265     Approved
4266     Rejected
4267     Approved
4268     Approved

In [7]:
# To summarizing data set we need some basic information about the data 
  # no of cloumns and rows
  # what type of data
  # missing data

# To knowing basic information of data we use info() method

df.info()

#It gives you ...
  # total no of data
  # column name with non null count and data type (int, float, object)
  # memory usage of dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   loan_id                    4269 non-null   int64
 1    no_of_dependents          4269 non-null   int64
 2    education                 4269 non-null   object
 3    self_employed             4269 non-null   object
 4    income_annum              4269 non-null   int64
 5    loan_amount               4269 non-null   int64
 6    loan_term                 4269 non-null   int64
 7    cibil_score               4269 non-null   int64
 8    residential_assets_value  4269 non-null   int64
 9    commercial_assets_value   4269 non-null   int64
 10   luxury_assets_value       4269 non-null   int64
 11   bank_asset_value          4269 non-null   int64
 12   loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB

In [8]:
# Summary of Descriptive statistics for numeric dataset
# lets understand this on small dataSet

data = {
  "name" : ["radha", "mohan", "madhav","madhavi"],
  "age" : [18,20,30,25],
  "revenue" : [30000,20000,2200,100000]
}

df1 = pd.DataFrame(data) # converting collection of data to dataframe

print('Descriptive Statistics of above Data')
print(df1.describe())

# It show count, mean, std, min, 25%, 50%, 75%, max
# what is this mean why we need this..

# count - it tail no of non missing value in dataframe
# mean - average value of each column 
# std - standard deviation(std) how much value spread out or diffrent form mean (average)
# min - smallest value of column
# 25% - lower quater
# 50% - 2nd quater of data  
# 75% - upper quater

Descriptive Statistics of above Data
             age        revenue
count   4.000000       4.000000
mean   23.250000   38050.000000
std     5.377422   42870.463803
min    18.000000    2200.000000
25%    19.500000   15550.000000
50%    22.500000   25000.000000
75%    26.250000   47500.000000
max    30.000000  100000.000000

Before anaylize the DataSet we should know...

1- How much big your dataset
2- What are the names of columns

In [9]:
# using shape and columns we see shape(row, column) of data and column name

shape_data = df.shape # Its tuple not method
print(f"shape : {shape_data}") # f is formate , way of embed expressions {} inside the string

column_name = df.columns  # Its tuple not method
print(f" columns name : {column_name}")

shape : (4269, 13)
 columns name : Index(['loan_id', ' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

Let's learn How to...

1- Select specfic column 
2- filter the rows based on certain condition 

Selecting columns..
 1- A series
 2- Dataframe multiple columns of data

Filtering row...
boolean indexing (when condition is true it show else not)

In [10]:
print(df)

      loan_id   no_of_dependents      education  self_employed   income_annum  \
0           1                  2       Graduate             No        9600000
1           2                  0   Not Graduate            Yes        4100000
2           3                  3       Graduate             No        9100000
3           4                  3       Graduate             No        8200000
4           5                  5   Not Graduate            Yes        9800000
...       ...                ...            ...            ...            ...
4264     4265                  5       Graduate            Yes        1000000
4265     4266                  0   Not Graduate            Yes        3300000
4266     4267                  2   Not Graduate             No        6500000
4267     4268                  1   Not Graduate             No        4100000
4268     4269                  1       Graduate             No        9200000

       loan_amount   loan_term   cibil_score   residential_assets_value  \
0         29900000          12           778                    2400000
1         12200000           8           417                    2700000
2         29700000          20           506                    7100000
3         30700000           8           467                   18200000
4         24200000          20           382                   12400000
...            ...         ...           ...                        ...
4264       2300000          12           317                    2800000
4265      11300000          20           559                    4200000
4266      23900000          18           457                    1200000
4267      12800000           8           780                    8200000
4268      29700000          10           607                   17800000

       commercial_assets_value   luxury_assets_value   bank_asset_value  \
0                     17600000              22700000            8000000
1                      2200000               8800000            3300000
2                      4500000              33300000           12800000
3                      3300000              23300000            7900000
4                      8200000              29400000            5000000
...                        ...                   ...                ...
4264                    500000               3300000             800000
4265                   2900000              11000000            1900000
4266                  12400000              18100000            7300000
4267                    700000              14100000            5800000
4268                  11800000              35700000           12000000

      loan_status
0        Approved
1        Rejected
2        Rejected
3        Rejected
4        Rejected
...           ...
4264     Rejected
4265     Approved
4266     Rejected
4267     Approved
4268     Approved

[4269 rows x 13 columns]

In [16]:
# Access a single column (series)

# Strip whitespace from column names
df.columns = df.columns.str.strip()

#column = df["column_name"]
column = df['cibil_score']
print(column)

# Access a single multiple column (Dataframe)

#subset = df['column1', 'column2', 'column-n']
subset = df[['loan_amount', 'cibil_score']]
print(subset)

0       778
1       417
2       506
3       467
4       382
       ...
4264    317
4265    559
4266    457
4267    780
4268    607
Name: cibil_score, Length: 4269, dtype: int64
      loan_amount  cibil_score
0        29900000          778
1        12200000          417
2        29700000          506
3        30700000          467
4        24200000          382
...           ...          ...
4264      2300000          317
4265     11300000          559
4266     23900000          457
4267     12800000          780
4268     29700000          607

[4269 rows x 2 columns]

In [ ]:
#Filtering a row...

#based on single condition

filter_row = df[df["income_annum"] > 9600000]
print(filter_row)

In [ ]:
#Filtering a row...

#based on multiple condition

filter_row = df[(df["income_annum"] > 9600000) & (df["income_annum"] < 9800000)]
print(filter_row)

-------------------------------------------------------------Advance Technique----------------------------------------------------------

In [50]:
# How to add new column in dataset

#dataset_name[new_column_name] = [values]
df1["Extra-income"] = [1000, 2000, 3000, 4000]

# adding column using insert() method
# df.insert(loc, "column_name", values)

df1.insert(4, "total-income", df1["revenue"] + df1["Extra-income"])
print(df1)

      name  age     revenue  total-in  total-income  Extra-income
0    radha   18   34728.750     31000     35728.750          1000
1    mohan   20   55000.000     57000     57000.000          2000
2   madhav   30    2546.775      5200      5546.775          3000
3  madhavi   25  115762.500    104000    119762.500          4000

In [49]:
# How to update the values into dataframe
# loc[] with the help of loc method we can access any cell into dataframe.

#df.loc[row-index, "column_name"] = new value

df1.loc[1, 'revenue'] = 55000

print(df1)

      name  age     revenue  total-in  Extra-income
0    radha   18   34728.750     31000          1000
1    mohan   20   55000.000     57000          2000
2   madhav   30    2546.775      5200          3000
3  madhavi   25  115762.500    104000          4000

In [47]:
# increasing salary by 5%

df1["revenue"] = df1["revenue"] * 1.05  # (100% + 5% = 105% or 1.05)
print(df1)

      name  age     revenue  total-income  total-in  Extra-income
0    radha   18   34728.750         31000     31000          1000
1    mohan   20   63669.375         22000     57000          2000
2   madhav   30    2546.775          5200      5200          3000
3  madhavi   25  115762.500        104000    104000          4000

In [ ]:
# How to remove column -- using drop method

if "total-income" in df1.columns:
	df1.drop(columns=["total-income"], inplace=True) # inplace=True - It modifies original dataframe
print(df1)


# How to remove multiple columns -- using drop method
df1.drop(columns=["revenue", "Extra-income"], inplace=True)

print(df1)

In [3]:
# How to handle missing Data
# 1- NaN(Not a Number)
# 2- None(for object data types)

# isnull()
# True - NaN is missing
# False - value is present 

data2 = {
  "name" : ["radha", None , "madhav","madhavi"],
  "age" : [18,20,None,25],
  "revenue" : [30000,None,2200,100000]
}

df2 = pd.DataFrame(data2) # converting collection of data to dataframe

print(df2.isnull())

print(df2.isnull().sum()) # not null value in each column

    name    age  revenue
0  False  False    False
1   True  False     True
2  False   True    False
3  False  False    False
name       1
age        1
revenue    1
dtype: int64

In [ ]:
# How to drop missing value..

# using dropna()
# axis = 0 , mean remove row
# axis = 1 , mean remove column
df2.dropna(axis = 0, inplace=True)
print(df2)

      name   age   revenue
0    radha  18.0   30000.0
3  madhavi  25.0  100000.0

In [ ]:

# How to fill null value..

# using fillna()


data2 = {
  "name" : ["radha", None , "madhav","madhavi"],
  "age" : [18,20,None,25],
  "revenue" : [30000,None,2200,100000]
}

df2 = pd.DataFrame(data2) 

df2.fillna(0.0, inplace=True)
print(df2)

In [ ]:
data2 = {
  "name" : ["radha", None , "madhav","madhavi"],
  "age" : [18,20,None,25],
  "revenue" : [30000,None,2200,100000]
}

df3 = pd.DataFrame(data2) 

# fill mean value..
df3['age'].fillna(df3['age'].mean(), inplace=True) # similarly we can do it with all numerical column
print(df3)

      name   age   revenue
0    radha  18.0   30000.0
1     None  20.0       NaN
2   madhav  21.0    2200.0
3  madhavi  25.0  100000.0

C:\Users\ALAKA\AppData\Local\Temp\ipykernel_14920\2365988756.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df3['age'].fillna(df3['age'].mean(), inplace=True)

In [18]:
# Estimated filling value...
# called Interpolation - calculate missing value based on uper and lower value

# Why - preserve data itegrity , smooth trends , avoid data loss

# method - interpolate()

data2 = {
  "name" : ["radha", None , "madhav","madhavi"],
  "age" : [18,20,None,25],
  "revenue" : [30000,None,2200,100000]
}

df4 = pd.DataFrame(data2) 

# type of - linear, polynomial, time ..
df4.interpolate(method="linear", axis=0, inplace= True)
print(df4)

      name   age   revenue
0    radha  18.0   30000.0
1     None  20.0   16100.0
2   madhav  22.5    2200.0
3  madhavi  25.0  100000.0

C:\Users\ALAKA\AppData\Local\Temp\ipykernel_14920\1722245881.py:17: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df4.interpolate(method="linear", axis=0, inplace= True)